<ng-container *ngIf="deviceSettings.isDesktop" [ngTemplateOutlet]="desktopLayout"></ng-container>
<ng-container *ngIf="deviceSettings.isTablet" [ngTemplateOutlet]="tabletLayout"></ng-container>
<ng-container *ngIf="deviceSettings.isMobile" [ngTemplateOutlet]="mobileLayout"></ng-container>

<ng-container *ngIf="errors.length>0">
    <div class="d-flex flex-column w-100 alert alert-danger p-3">
        <div>Errors found ({{errors.length}}):</div>
        <ul>
        <ng-container *ngFor="let error of errors">
            <li>{{error | json}}</li>
        </ng-container> 
        </ul>
    </div>
</ng-container>

<!-- Desktop layout -->
<ng-template #desktopLayout>
    <div class="container d-flex flex-fill w-100">
        <!-- Left Menu -->
        <div class="menu d-flex flex-column align-items-end gap-2">
            <div class="w-100 d-flex align-items-center">
                <button class="btn btn-sm btn-danger mb-3" *ngIf="!(expandedItems.length===0 && expandedItemsBk.length>0)" [disabled]="expandedItems.length===0" (click)="collapseAll()">CollapseAll</button>
                <button class="btn btn-sm btn-danger mb-3" *ngIf="expandedItems.length===0 && expandedItemsBk.length>0" (click)="restoreCollapsed()">Restore collapsed</button>
            </div>
            <ng-container [ngTemplateOutlet]="menuLayout"></ng-container>
        </div>
        <!-- Left Menu End -->
        <!-- Content -->
        <div class="content flex-grow-1 d-flex flex-column align-items-center justify-content-center">

            <ng-container [ngTemplateOutlet]="channelInfo"></ng-container>
            
            <div class="d-flex flex-column justify-content-center align-items-center w-100" style="overflow: hidden;">
                <video #video controls autoplay muted playsinline width="640" height="360"></video>
                <ng-container [ngTemplateOutlet]="epgTemplate"></ng-container>
            </div>

            <ng-container *ngIf="channelSourceFormat==='youtube' && safeUrl">
                <iframe
                    src="https://www.youtube.com/embed/live_stream?channel=UCuPHaVBv7cd-wWx3ztpALQw"
                    frameborder="0"
                    allowfullscreen>
                </iframe>
                <!--
                <iframe
                    width="640"
                    height="360"
                    [src]="safeUrl"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen>
                </iframe>
                -->
            </ng-container>
            
            <div class="w-100 d-flex justify-content-center align-items-center mt-3" *ngIf="!selectedChannel || selectedChannel?.options?.length===0">
                <ng-container *ngIf="!selectedChannel">
                    <span>Select a channel</span>
                </ng-container>
                <ng-container *ngIf="selectedChannel?.options?.length===0">
                    <i class="fas fa-exclamation-circle text-danger me-2"></i><span>Not available URL</span>
                </ng-container>
            </div>
            
        </div>
        <!-- Content End -->
    </div>
</ng-template>
<!-- End Desktop layout -->

<!-- Tablet layout -->
<ng-template #tabletLayout>
    <div class="container d-flex flex-fill w-100">
        <!-- Left Menu -->
        <div class="menu d-flex flex-column align-items-end gap-2">
            <div class="w-100 d-flex align-items-center">
                <button class="btn btn-sm btn-danger mb-3" *ngIf="!(expandedItems.length===0 && expandedItemsBk.length>0)" [disabled]="expandedItems.length===0" (click)="collapseAll()">CollapseAll</button>
                <button class="btn btn-sm btn-danger mb-3" *ngIf="expandedItems.length===0 && expandedItemsBk.length>0" (click)="restoreCollapsed()">Restore collapsed</button>
            </div>
            <ng-container [ngTemplateOutlet]="menuLayout"></ng-container>
        </div>
        <!-- Left Menu End -->
        <!-- Content -->
        <div class="content flex-grow-1 d-flex flex-column align-items-center justify-content-center">

            <ng-container [ngTemplateOutlet]="channelInfo"></ng-container>
            
            <div class="d-flex flex-column justify-content-center align-items-center w-100" style="overflow: hidden;">
                <video #video controls autoplay muted playsinline width="640" height="360"></video>
                <ng-container [ngTemplateOutlet]="epgTemplate"></ng-container>
            </div>

            <ng-container *ngIf="channelSourceFormat==='youtube' && safeUrl">
                <iframe
                    src="https://www.youtube.com/embed/live_stream?channel=UCuPHaVBv7cd-wWx3ztpALQw"
                    frameborder="0"
                    allowfullscreen>
                </iframe>
                <!--
                <iframe
                    width="640"
                    height="360"
                    [src]="safeUrl"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen>
                </iframe>
                -->
            </ng-container>
            
            <div class="w-100 d-flex justify-content-center align-items-center mt-3" *ngIf="!selectedChannel || selectedChannel?.options?.length===0">
                <ng-container *ngIf="!selectedChannel">
                    <span>Select a channel</span>
                </ng-container>
                <ng-container *ngIf="selectedChannel?.options?.length===0">
                    <i class="fas fa-exclamation-circle text-danger me-2"></i><span>Not available URL</span>
                </ng-container>
            </div>
            
        </div>
        <!-- Content End -->
    </div>
</ng-template>
<!-- End Tablet layout -->

<!-- Mobile layout -->
<ng-template #mobileLayout>
    <div class="container d-flex flex-fill w-100">
        <div class="content flex-grow-1 d-flex flex-column align-items-center" [ngClass]="{'justify-content-center':!deviceSettings.isMobile,'justify-content-start':deviceSettings.isMobile}">
            <div class="d-flex align-items-start w-100 h-30 p-0 video-wrapper">
                <video #video autoplay playsinline controls class="w-100"></video>
            </div>
           
            <ng-container *ngIf="channelSourceFormat==='youtube' && safeUrl">
                <iframe
                    src="https://www.youtube.com/embed/live_stream?channel=UCuPHaVBv7cd-wWx3ztpALQw"
                    frameborder="0"
                    allowfullscreen>
                </iframe>
                <!--
                <iframe
                    width="640"
                    height="360"
                    [src]="safeUrl"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen>
                </iframe>
                -->
            </ng-container>
            
            <div class="w-100 d-flex justify-content-center align-items-center mt-3" *ngIf="!selectedChannel || selectedChannel?.options?.length===0">
                <ng-container *ngIf="selectedChannel?.options?.length===0">
                    <i class="fas fa-exclamation-circle text-danger me-2"></i><span>Not available URL</span>
                </ng-container>
            </div>
            <div class="d-flex flex-column w-100 p-3 h-70" style="overflow: auto;">
                <ng-container [ngTemplateOutlet]="menuLayout"></ng-container>
            </div>
        </div>
    </div>
</ng-template>
<!-- End Mobile layout -->

<ng-template #menuLayout>
    <div class="d-flex flex-column w-100 flex-grow-1">
        <ng-container *ngIf="deviceSettings.isMobile" [ngTemplateOutlet]="epgTemplate"></ng-container>

        <ng-container [ngTemplateOutlet]="menuTemplate" [ngTemplateOutletContext]="{title: 'TV', data: tv, sourceIdx: 0}"></ng-container>
        <ng-container [ngTemplateOutlet]="menuTemplate" [ngTemplateOutletContext]="{title: 'Radio', data: radio, sourceIdx: 1}"></ng-container>
        <ng-container [ngTemplateOutlet]="menuTemplate" [ngTemplateOutletContext]="{title: 'Other', data: favourites, sourceIdx: undefined}"></ng-container>
    </div>
</ng-template>

<ng-template let-title="title" let-data="data" let-sourceIdx="sourceIdx" #menuTemplate>
    <div class="d-flex flex-column w-100 mb-2">
        <div class="d-flex flex-column w-100">
            <div class="cursor-pointer d-flex align-items-center w-100" (click)="toggleExpand(title.replace(' ','_'))">
                <div class="expand-icon d-flex justify-content-center me-2">
                    <i class="fas" [ngClass]="{'fa-chevron-down': isExpanded(title.replace(' ','_')), 'fa-chevron-right': !isExpanded(title.replace(' ','_'))}"></i>
                </div>
                {{title}}
            </div>
            <ng-container *ngIf="isExpanded(title.replace(' ','_'))">

                    <!-- Countries -->
                    <ng-container *ngFor="let country of data.countries">
                        <div class="d-flex flex-column w-100 gap-2 country">
                    
                        <div class="cursor-pointer d-flex align-items-center w-100" (click)="toggleExpand(title.replace(' ','_')+'_'+country.name.replace(' ','_'))">
                            <div class="expand-icon d-flex justify-content-center me-2">
                                <i class="fas" [ngClass]="{'fa-chevron-down': isExpanded(title.replace(' ','_')+'_'+country.name.replace(' ','_')), 'fa-chevron-right': !isExpanded(title.replace(' ','_')+'_'+country.name.replace(' ','_'))}"></i>
                            </div>
                            {{country.name}}
                        </div>

                        <ng-container *ngIf="isExpanded(title.replace(' ','_')+'_'+country.name.replace(' ','_'))">

                            <div class="d-flex flex-column gap-2 ambit">

                                <!-- Ambits -->
                                <ng-container *ngFor="let ambit of country.ambits">

                                    <div class="cursor-pointer d-flex align-items-center w-100" (click)="toggleExpand(title.replace(' ','_')+'_'+country.name.replace(' ','_')+'_'+ambit.name.replace(' ', '_'))">
                                        <div class="expand-icon d-flex justify-content-center me-2">
                                            <i class="fas" [ngClass]="{'fa-chevron-down': isExpanded(title.replace(' ','_')+'_'+country.name.replace(' ','_')+'_'+ambit.name.replace(' ', '_')), 'fa-chevron-right': !isExpanded(title.replace(' ','_')+'_'+country.name.replace(' ','_')+'_'+ambit.name.replace(' ', '_'))}"></i>
                                        </div>
                                        {{ambit.name}}
                                    </div>

                                    <ng-container *ngIf="isExpanded(title.replace(' ','_')+'_'+country.name.replace(' ','_')+'_'+ambit.name.replace(' ', '_'))">
                                        <div class="w-100 d-flex flex-column channel-list gap-2">
                                        <ng-container *ngFor="let channel of ambit.channels">
                                            <div class="d-flex justify-content-between align-items-center w-100 pe-2 channel-line" [ngClass]="{'active': selectedChannel!==undefined && selectedChannel.name===channel.name}">
                                                <span class="cursor-pointer channel text-truncate" (click)="openChannel(channel, sourceIdx)">
                                                    <i *ngIf="channel.options.length>0 && channel.options[0].format==='m3u8'" class="fas fa-tv text-light cursor-pointer me-2"></i>
                                                    <i *ngIf="channel.options.length>0 && channel.options[0].format==='youtube'" class="fab fa-youtube text-danger cursor-pointer me-2"></i>
                                                    <i *ngIf="channel.options.length>0 && channel.options[0].format==='stream'" class="fas fa-wifi text-light cursor-pointer me-2"></i>
                                                    <i *ngIf="channel.options.length>0 && channel.options[0].format==='acc'" class="fas fa-music text-light cursor-pointer me-2"></i>
                                                    <i *ngIf="channel.options.length>0 && channel.options[0].format==='aac'" class="fas fa-music text-light cursor-pointer me-2"></i>
                                                    <i *ngIf="channel.options.length>0 && channel.options[0].format==='mp3'" class="fas fa-music text-light cursor-pointer me-2"></i>
                                                    
                                                    <i *ngIf="channel.options.length===0" class="fas fa-ban me-2"></i>
                                                    {{channel.name}}
                                                </span>
                                                <i *ngIf="isFavourite(channel)" class="fas fa-heart cursor-pointer" (click)="toggleFavourite(channel, sourceIdx)"></i>
                                                <i *ngIf="!isFavourite(channel)" class="far fa-heart cursor-pointer" (click)="toggleFavourite(channel, sourceIdx)"></i>
                                            </div>
                                        </ng-container>
                                        </div>
                                    </ng-container>

                                </ng-container>
                                <!-- End Ambit -->

                            </div>

                        </ng-container>
                    
                        </div>
                    </ng-container>
                    <!-- End Countries -->
                
            </ng-container>
        </div>
    </div>
</ng-template>

<ng-template #channelInfo>
    <div class="d-flex justify-content-between align-items-center mb-1 selected-channel-info p-3" [ngClass]="{'desktop': deviceSettings.isDesktop,'tablet':deviceSettings.isTablet,'mobile':deviceSettings.isMobile}">
        <ng-container *ngIf="selectedChannel">
            <div class="d-flex align-items-baseline me-2 text-truncate">
                <div class="fs-3 me-3">{{selectedChannel.name}}</div>
                <small *ngIf="channelSourceFormat">{{selectedChannel ? '- '+channelSourceFormat+' -':''}}</small>
            </div>
            <i class="fas fa-close cursor-pointer fs-4 mb-2 text-gray" (click)="selectedChannel=undefined;openChannel(undefined)"></i>
        </ng-container>
    </div>
</ng-template>

<ng-template #epgTemplate>
    <ng-container *ngIf="currentEpg && currentEpg.events && currentEpg.events.length>0">

        <ng-container *ngIf="deviceSettings.isDesktop">
            <div class="d-flex justify-content-center w-100 epg-wrapper mt-4">
                <table class="table table-sm table-dark table-hover">
                    <tbody>
                        <ng-container *ngFor="let epgItem of currentEpg.events">
                        <tr [ngClass]="{'active': isEpgItemEventActive(epgItem)}">
                            <td>{{epgItem.t}}</td>
                            <td>{{ epgItem.hi | date:'dd.MM.yyyy' }}</td>
                            <td>{{ epgItem.hi | date:'HH:mm' }}h</td>
                            <td>{{ epgItem.hf | date:'HH:mm' }}h</td>
                        </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </ng-container>

        <ng-container *ngIf="deviceSettings.isMobile">
            <div class="w-100 epg-wrapper mt-1 mb-4">
                <table class="table table-sm table-dark table-hover w-100">
                    <tbody>
                        <ng-container *ngFor="let epgItem of currentEpg.events; let idx = index">
                        <tr [ngClass]="{'active': isEpgItemEventActive(epgItem)}">
                            <td>
                                <span>{{epgItem.t}}</span>
                            </td>
                            <td>{{ epgItem.hi | date:'dd.MM.yyyy' }}h</td>
                            <td>{{ epgItem.hi | date:'HH:mm' }}h</td>
                            <td>{{ epgItem.hf | date:'HH:mm' }}h</td>
                        </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </ng-container>

    </ng-container>
</ng-template>

<!-- EPG tooltip Template -->
<ng-template #tooltipTemplate let-img>
  <img [src]="img" width="120" />
</ng-template>
