.selected-channel-info {
    margin-bottom: 30px;

    &.mobile {  }
    &.tablet { width: 610px; }
    &.desktop { width: 640px; }
}

div.hidden {
    opacity:0;
    display: none !important;
}

.search_overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6); /* transparency */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.search_modal {
  background: rgb(33, 31, 31);
  color: rgb(217, 216, 216);
  padding: 2rem;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;

  .form-control {
    background-color: #000;
    color: rgba(217, 216, 216, .6);
    border-color: rgba(217, 216, 216, .3);
    &::placeholder {
        color: rgba(217, 216, 216, .4);
        font-weight: 200;
    }
  }
}

.menu-buttons {
    position: sticky;
    z-index: 1;
    top: 0px;
    background-color: rgb(33, 31, 31);
}