/* You can add global styles to this file, and also import other style files */

$fontColor: rgb(217, 216, 216);
$borderColor: rgb(77, 73, 73);

$epgItemColor: rgb(138, 137, 137);
$epgItemActiveColor: rgb(217, 216, 216);

body {
    height: calc(100vh);
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.cursor-pointer { cursor: pointer; }

.text-gray { color: #888; }

.app {
    &.desktop {
        background-color: rgb(33, 31, 31);
        .container {
            background-color: rgb(33, 31, 31);
            
            border-right: 1px solid $borderColor;
            border-left: 1px solid $borderColor;
            
            color: $fontColor;
            min-width: 1200px;
            max-width: 1600px;
            height: calc(100vh);

            .menu {
                width: 30%;
                height: calc(100vh);
                padding: 15px 10px;
                border-right: 1px solid $borderColor;
                resize: horizontal;
                overflow-y: auto;
            }
            .content {
                height: calc(100vh);
                padding: 0px;

                .epg-wrapper {
                    max-height: 140px;
                    overflow-y: auto;
                    table {
                        width: 640px;
                        tbody {
                            tr {
                                td {
                                    color: $epgItemColor !important;
                                }
                                &.active {
                                    td {
                                        color: $epgItemActiveColor !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }

    &.tablet {
        background-color: rgb(33, 31, 31);
        color: snow;
        font-size: large;

        .container {
            min-width: 600px;
            max-width: 1200px;
            height: calc(100vh);
            &.landscape {
                font-size: medium;
            }
            .menu {
                width: 30%;
                height: calc(100vh);
                padding: 15px 10px;
                overflow-y: auto;

                .country { padding-left: 15px; }
            }
            .content {
                height: calc(100vh);
                padding: 0px;

                .epg-wrapper {
                    max-height: 140px;
                    overflow-y: auto;
                    table {
                        width: 600px;
                        tbody {
                            tr {
                                td {
                                    color: $epgItemColor !important;
                                }
                                &.active {
                                    td {
                                        color: $epgItemActiveColor !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }

    &.mobile {
        background-color: rgb(33, 31, 31);
        color: snow;
        width: 100%;
        font-size: 18px;

        .container {
            width: 100%;
            height: calc(100vh);
            padding-left:0px;
            padding-right:0px;

            .menu {
                width: 100%;
                overflow-y: auto;
            }
            .content {
                height: calc(100vh);
                padding: 0px;

                .video-wrapper {
                    position: sticky;
                    height: 233px;
                    top:0px;
                    .video-mobile {
                        width:100%;
                    }
                }

                .epg-wrapper {
                    max-height: 90px;
                    overflow-y: auto;
                    position: sticky;
                    top: -5px;
                    table {
                        font-size: 12px;
                        tbody {
                            tr {
                                td {
                                    color: $epgItemColor !important;
                                }
                                &.active {
                                    td {
                                        color: $epgItemActiveColor !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}


.country { padding: 3px 5px 3px 15px; margin-left: 10px; border-left: 1px dashed $borderColor; }
.ambit { padding-left: 5px; margin-left: 15px; border-left: 1px dashed $borderColor; }
.channel-list {
    border-radius: 6px;
    padding: 0px 5px;
    margin-bottom: 10px;
    background-color: transparent;

    .channel-line {
        &.active {
            padding: 3px 0px;
            border-radius: 5px;

            border: 0px solid $borderColor;
            background-color: #000;
            color: yellowgreen;
        }
        .channel { 
            padding-left: 20px;
            padding-right: 5px;
            color: deepskyblue; 
            border-left: 1px dashed $borderColor;
            i { &.fa-ban { color: dimgray; } }
        }
    }
}

.expand-icon {
    width: 20px;
    color: dimgray;
}

.h-30 { height: 30%; }
.h-70 { height: 70%; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fa-twitch { color: rgb(198, 49, 178); }
