name: Deploy Angular to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout repo WITHOUT submodules
      - uses: actions/checkout@v4
        with:
          submodules: false

      # Setup Node.js
      - uses: actions/setup-node@v3
        with:
          node-version: '20'

      # Install dependencies
      - run: npm ci

      # Build Angular app
      - run: ng build --configuration production --base-href /tdt/

      # Deploy to GitHub Pages
      - uses: angular-schule/angular-cli-ghpages@v0.1.5
        with:
          dir: dist/tdt
